body {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2%;
}

header { 
    background-image: url("../images/books.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 20px;
}

a {
    color: black;
    font-weight: 600;
}

a:hover {
    color: green;
}

a:visited {
    color: blue;
}

#om-oss {
    text-align: center;
}

#erbjudande {
    text-align: center;
    background-image: url("../images/background-leaves.jpg");
    padding: 2% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    border-style:groove;
    box-shadow: 10px 10px 20px gray;
}

#priser h3, #priser h5 {
    color:rgba(4, 2, 133)
}

#kontakt {
    text-align:end;
    font-size: 12px;
    font-weight: 600;
    color: black;
    background-color: rgb(138, 43, 226, 0.2);
    border: 5px solid black;
    padding: 20px;
}

#kontakt a {
    color: black
}

#kontakt a:hover {
    color: red
}

.menylista {
    list-style-type: circle;
}

.disclamer {
    text-align: center;
    font-size: 15px;
    color: red;
}

.stark-kvinna {
    width: 25%; 
    height: 25%;
    border-radius: 50%;
}